body{
    margin:0;
    font-family: Arial,sans-serif;
    background-color: #f5f7fa;
}

header{
    background-color: #1e3a5f;
    height: 180px;
    width: 100%;
    padding: 45px;
    box-sizing: border-box;
    color: #f5f7fa;
    text-align: center;
}

header h1{
    margin-top: 10px;
    font-size: 40px;
}

header p {
    font-size: 17px;
}

main{
    
}